mixin sReadMore(data)
	// start sReadMore
	+b.SECTION.sReadMore.section#sReadMore&attributes(attributes)
		.container
			+b.section-title
				h4 Купить двигатель 740.11 (740.11-1000400) в Набережных Челнах
			+e.text 
				p Чип Apple M1 преображает возможности MacBook Pro 13 дюймов. В этот чип интегрирован целый ряд компонентов. Это 8?ядерный процессор, который прекрасно справляется со сложными задачами в области фотографии, программирования, видеомонтажа и не только. Потрясающий 8?ядерный графический процессор, с которым обработка сложной графики происходит мгновенно, а игры просто летают. Мощная 16?ядерная система Neural Engine, которая поднимает машинное обучение на новый уровень в ваших любимых приложениях. А также сверхскоростная объединённая память, благодаря которой всё происходит быстро и плавно. И при этом компьютер работает до 20 часов без подзарядки - дольше любого другого Mac(время работы от аккумулятора зависит от конфигурации и характера использования устройства).Это самый популярный ноутбук от Apple для профессионалов. Теперь ещё более мощный. Ещё более продвинутый.
				p Чип Apple M1 преображает возможности MacBook Pro 13 дюймов. В этот чип интегрирован целый ряд компонентов. Это 8?ядерный процессор, который прекрасно справляется со сложными задачами в области фотографии, программирования, видеомонтажа и не только. Потрясающий 8?ядерный графический процессор, с которым обработка сложной графики происходит мгновенно, а игры просто летают. Мощная 16?ядерная система Neural Engine, которая поднимает машинное обучение на новый уровень в ваших любимых приложениях. А также сверхскоростная объединённая память, благодаря которой всё происходит быстро и плавно. И при этом компьютер работает до 20 часов без подзарядки - дольше любого другого Mac(время работы от аккумулятора зависит от конфигурации и характера использования устройства).Это самый популярный ноутбук от Apple для профессионалов. Теперь ещё более мощный. Ещё более продвинутый.


	// end sReadMore