// start .sReadMore
.sReadMore {
	--sPT: #{rem(20)};
	--sPB: #{rem(20)};
	--sTPB: #{rem(20)};
	.section-title {
		h4 {
			font-weight: bold;
			line-height: (29 / 24);
		}
	}
	&__text {
		font-size: rem(14);
		@include media-breakpoint-only(sm) {
			font-size: rem(16);
		}
		p {
			margin-bottom: 20;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.btn-more {
		padding: 0;
		margin-top: rem(12);
		@include media-breakpoint-only(sm) {
			font-size: rem(16);
		}
	}
	&--index {
		--sPT: #{rem(70)};
		--sPB: #{rem(70)};
		position: relative;

		@include media-breakpoint-up(lg) {
			--sPT: #{rem(80)};
			--sPB: #{rem(80)};
		}
		.container {
			@include media-breakpoint-up(md) {
				position: relative;
			}
			&::after {
				content: "";
				position: absolute;
				background-image: url(../img/svg/triangle-3.svg);
				background-size: contain;
				background-repeat: no-repeat;
				z-index: -1;
				width: rem(105);
				height: rem(115);
				bottom: 0;
				left: auto;
				bottom: auto;
				// right: 0;
				top: 0;
				right: rem(10);
				@include media-breakpoint-up(md) {
					top: calc(-1 * var(--sPT));
				}
				@include media-breakpoint-up(xxl) {
					width: rem(110);
					height: rem(120);
				}
			}
			&::before {
				content: "";
				position: absolute;
				background-image: url(../img/svg/triangle-4.svg);
				background-size: contain;
				background-repeat: no-repeat;
				z-index: -1;
				width: rem(190);
				height: rem(210);
				left: auto;
				// right: 0;
				bottom: 0;
				right: rem(10);
				@include media-breakpoint-up(md) {
					bottom: calc(-1 * var(--sPB));
				}
				@include media-breakpoint-up(xxl) {
					width: rem(200);
					height: rem(220);
				}
			}
		}
		.sReadMore__wrap {
			margin-bottom: rem(30);
			max-width: 82%;
			p {
				font-size: rem(16);
				margin-bottom: 0;
				// margin-bottom: calc(#{rem(16)} * 1.2);
				line-height: calc(24 / 16);
			}
		}
		.btn-more {
			font-weight: 600;
			font-size: rem(16);
			margin-top: 0;
		}
	}
	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sReadMore
