.footer {
	color: $secondary2;
	margin-top: auto;
	background-color: $body-color;
	ul {
		list-style: none;
		margin-bottom: rem(40);
		@include media-breakpoint-up(md) {
			margin-bottom: 0;
		}
	}
	li {
		line-height: 1;

		a {
			font-weight: 600;
			font-size: rem(16);
			line-height: (20 / 16);
		}
		.link-secondary2 {
			font-weight: normal;
		}
	}

	li {
		margin-bottom: rem(20);
		&:last-child {
			margin-bottom: 0;
		}
	}
	.row {
		--bs-gutter-y: 0;
	}

	&__body {
		padding-top: rem(40);
		padding-bottom: rem(40);
		@include media-breakpoint-up(lg) {
			padding-top: rem(60);
			padding-bottom: rem(60);
		}
		border-bottom: 1px solid rgba($color: #ffffff, $alpha: 0.1);
	}

	&__info {
		padding-top: rem(40);
		padding-bottom: rem(40);
		.row {
			--bs-gutter-y: #{rem(10)};
			@include media-breakpoint-up(lg) {
				--bs-gutter-y: 0;
			}
		}
	}

	&__warning {
		background-color: #2d343a;
		padding-top: rem(40);
		padding-bottom: rem(40);
		p {
			text-align: center;
			font-size: rem(12);
			margin-bottom: 0;
		}
	}

	&__logo {
		display: block;
		margin-bottom: rem(40);
		text-align: center;
		@include media-breakpoint-up(md) {
			text-align: left;
			margin-bottom: rem(20);
		}
		img {
			max-width: rem(290);
		}
	}
	&__menu {
		display: flex;
		justify-content: center;
		ul {
			display: inline-block;
			margin-left: auto;
			margin-right: auto;
		}
	}
	&__location {
		display: flex;
		flex-direction: column;
		align-items: center;
		ul {
			text-align: center;
			@include media-breakpoint-up(md) {
				text-align: left;
			}
			@include media-breakpoint-up(lg) {
				display: inline-block;
				margin-left: auto;
				margin-right: auto;
				max-width: rem(210);
			}
			li {
				margin-bottom: 0;
				line-height: 150%;
			}
			.footer__adress {
				margin-bottom: rem(20);
			}
		}
	}

	&__legal {
		text-align: center;
		margin-bottom: 0 !important;
		@include media-breakpoint-up(md) {
			text-align: left;
		}
		li {
			margin-bottom: rem(10);
			font-size: rem(14);
			line-height: (17 / 14);
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__contacts {
		text-align: center;
		@include media-breakpoint-up(md) {
			text-align: right;
		}
		a {
			@include media-breakpoint-down(lg) {
				color: $primary !important;
			}
		}
		.link-white {
			color: $white !important;
		}

		.tel-n-social {
			justify-content: center;
			@include media-breakpoint-up(md) {
				justify-content: flex-end;
			}
			margin-top: rem(-4);
			margin-bottom: rem(16);
			a.strong {
				order: 6;
				margin-right: 0;
				margin-left: rem(10);
				color: $white !important;
				font-weight: 600;
				font-size: rem(16);
				line-height: (20 / 16);
				// &:hover {
				// 	color: #226ebb;
				// }
			}
		}
	}
	&__copyright {
		text-align: center;
		@include media-breakpoint-up(lg) {
			text-align: left;
		}
	}

	&__developer {
		text-align: center;
		@include media-breakpoint-up(lg) {
			text-align: right;
		}
		.link-white {
			font-weight: 600;
		}
	}
	//
	@include media-breakpoint-up(xl) {
	}

	@include media-breakpoint-up(lg) {
	}

	@include media-breakpoint-up(md) {
	}

	@include media-breakpoint-up(sm) {
	}

	@include media-breakpoint-up(xs) {
	}

	//
	@include media-breakpoint-between(md, xl) {
	}

	//
	@include media-breakpoint-only(xs) {
	}

	@include media-breakpoint-only(sm) {
	}

	@include media-breakpoint-only(md) {
	}

	@include media-breakpoint-only(lg) {
	}

	@include media-breakpoint-only(xl) {
	}

	//
	@include media-breakpoint-down(xl) {
	}

	@include media-breakpoint-down(lg) {
	}

	@include media-breakpoint-down(md) {
	}

	@include media-breakpoint-down(sm) {
	}

	@include media-breakpoint-down(xs) {
	}
}

.link-white {
	@include media-breakpoint-down(lg) {
		color: $white !important;
	}
	&:hover {
		@include media-breakpoint-up(lg) {
			color: #226ebb;
		}
	}
}
a.link-secondary2 {
	@include media-breakpoint-down(lg) {
		color: $secondary2 !important;
	}
	&:hover {
		@include media-breakpoint-up(lg) {
			color: $white;
		}
	}
}
