mixin footer()
	+b.FOOTER.footer
	
		+e.body
			.container
				.row
					.col-md-auto.col-xl-3.order-md-4
						+e.logo(href='/').d-block.d-md-none
							img(src="img/svg/logo.svg", alt="")
						+e.UL.contacts
							li #[a.link-white(href='tel:+78007008572') 8 (800) 700-85-72]
							+tel-n-social(`tel:+79600799544`, `8 (960) 079-95-44`)
							li #[a(href='#') Заказать звонок]
							li #[a.link-secondary2(href='mailto:zapchasty-kama@yandex.ru') zapchasty-kama@yandex.ru]
					.col.col-xl-3.order-md-3
						+e.location
							ul
								li 
									+e.adress.text-white г. Набережные Челны, пр-т КАМАЗа, 22/3
								li Пн-пт: с&nbsp;8:00 до&nbsp;17:00 мск
								li Сб: с&nbsp;8:00 до&nbsp;12:00 мск
								li Вс: выходной
					.col-md-auto.col-xl-3.order-md-1
						+e.logo(href='/').d-none.d-md-block
							img(src="img/svg/logo.svg", alt="")
						+e.UL.legal
							li ОГРН 1171690042347
							li ИНН 1650348340
							li КПП 165001001
					.col-lg-3.d-none.d-lg-block.order-md-2
						+e.NAV.menu
							ul
								li #[a.link-white(href='#') Главная]
								li #[a.link-white(href='#') Каталог товаров]
								li #[a.link-white(href='#') Доставка и&nbsp;оплата]
								li #[a.link-white(href='#') О&nbsp;компании]
								li #[a.link-white(href='#') Контакты]

		+e.info
			.container
				.row
					.col-12.col-lg
						+e.copyright.text-white © ООО «ТД КамаТехЦентр» 2021
					.col-12.col-lg-auto.text-center
						+e.policy.link-secondary2(href='#') Политика обработки персональных данных
					.col-12.col-lg
						+e.developer Создание сайта – #[a.link-white(href='#') Workes]

		+e.warning
			.container
				p Обращаем Ваше внимание на то, что данный Интернет-сайт носит исключительно информационный характер и ни при каких условиях не является публичной офертой, определяемой положениями Статьи 437 Гражданского кодекса Российской Федерации. ООО ТД КамаТехЦентр предлагает оригинальные запасные части для автомобилей КАМАЗ, а также продукцию заводов-смежников, которые не имеют отношения к торговой марке КАМАЗ. Все товары приобретены официально, при этом ООО ТД КамаТехЦентр не является официальным дилером ПАО Камаз. Упоминание КАМАЗ на данном сайте говорит о применяемости предлагаемых запасных частей к автомобилям марки КАМАЗ.
