mixin footer()
	+b.FOOTER.footer
	
		+e.body
			.container
				.row
					.col-md-auto.col-xl-3.order-md-4
						+e.logo(href='/').d-block.d-md-none
							img(src="img/svg/logo.svg", alt="")
						+e.UL.contacts
							+tel-n-social(`tel:+79308067171`, `+7 (930) 806-71-71`)
							li #[a(href='#') Заказать звонок]
							li #[a.link-secondary2(href='mailto:skladstali@mail.ru') skladstali@mail.ru]
							+e.BUTTON.btn.btn.d-none.d-lg-inline-block
								span Наверх
								img(src="img/svg/mouse.svg" alt="") 
					.col.order-md-3
						+e.location
							+e.adress.text-white г. Нижний Новгород, ул.&nbsp;Вторчермета д.&nbsp;1, офис&nbsp;113
							+e.social.d-none.d-lg-block
								+e.social-title Мы&nbsp;в&nbsp;социальных сетях:
								+b.soc
									+item-sos('footer-fb')
									+item-sos('footer-vk')
									+item-sos('footer-instagram')
									+item-sos('footer-ok')
					.col-md-auto.order-md-1
						+e.logo(href='/').d-none.d-md-block
							img(src="img/svg/logo.svg", alt="")
						+e.UL.legal
							li ОГРН 1171690041234
							li ИНН 1650341234
							li КПП 165001234
					.col.col-xl-3.d-none.d-lg-block.order-md-2
						+e.NAV.menu
							ul
								li #[a.link-white(href='#') Главная]
								li #[a.link-white(href='#') Каталог]
								li #[a.link-white(href='#') Прайс-лист]
								li #[a.link-white(href='#') Услуги]
								li #[a.link-white(href='#') О&nbsp;компании]
								li #[a.link-white(href='#') Контакты]

		+e.info
			.container
				.row
					.col-12.col-lg
						+e.copyright.text-white © ООО «СтальСклад» 2021
					.col-12.col-lg-auto.text-center
						+e.policy.link-secondary2(href='#') Политика обработки персональных данных
					.col-12.col-lg
						+e.developer Создание сайта – #[a.link-white(href='#') AD HEADS]

		//- +e.warning
		//- 	.container
		//- 		p Обращаем Ваше внимание на то, что данный Интернет-сайт носит исключительно информационный характер и ни при каких условиях не является публичной офертой, определяемой положениями Статьи 437 Гражданского кодекса Российской Федерации. ООО ТД КамаТехЦентр предлагает оригинальные запасные части для автомобилей КАМАЗ, а также продукцию заводов-смежников, которые не имеют отношения к торговой марке КАМАЗ. Все товары приобретены официально, при этом ООО ТД КамаТехЦентр не является официальным дилером ПАО Камаз. Упоминание КАМАЗ на данном сайте говорит о применяемости предлагаемых запасных частей к автомобилям марки КАМАЗ.
