mixin sForm(t)
	// start sForm
	+b.SECTION.sForm.section#sForm&attributes(attributes)
		.container
			.row.align-items-center
				.col
					h2!=t
					+e.subtitle Оставьте заявку и&nbsp;наши менеджеры помогут вам с&nbsp;выбором
					+form-wrap()
						.row
							.col-12.col-md-auto.text-center.text-md-left
								+input(`Ваш телефон`, 'tel')
							.col-12.col-md-auto.text-center.text-md-left
								+e.BUTTON.btn.btn.btn-primary Отправить заявку
						+agreement
						+tel-n-social(`tel:+78007008572`, `8 (800) 700-85-72`)
				.col-4.d-none.d-lg-block
					+e.img-wrap
						+pic(`engine.png`, '', 0)
	// end sForm