// start .sForm
.sForm {
	--sPT: 80px;
	--sPB: 80px;
	background-color: $light;
	@include media-breakpoint-up(lg) {
		--sPT: 70px;
		--sPB: 70px;
	}
	@include media-breakpoint-up(xl) {
		--sPT: 35px;
		--sPB: 35px;
	}
	@include media-breakpoint-up(xxl) {
		--sPT: 60px;
		--sPB: 60px;
	}
	h2 {
		text-align: center;
		font-weight: bold;
		// font-size: rem(40);
		line-height: 150%;
		margin-bottom: 20px;
		// max-width: 540px;
		@include media-breakpoint-up(sm) {
			max-width: 100%;
		}
		@include media-breakpoint-up(lg) {
			text-align: left;
		}
		@include media-breakpoint-up(xxl) {
		}
	}
	&__subtitle {
		text-align: center;
		font-weight: 500;
		color: #778089;
		margin-bottom: rem(40);
		font-size: rem(18);
		line-height: 150%;
		@include media-breakpoint-up(sm) {
			line-height: 200%;
		}
		@include media-breakpoint-up(lg) {
			text-align: left;
		}
	}
	.form-wrap {
		.row {
			justify-content: center;
			@include media-breakpoint-down(md) {
				--bs-gutter-x: #{rem(20)};
			}
			// @include media-breakpoint-up(md) {
			// 	--bs-gutter-x: #{rem(24)};
			// }
			@include media-breakpoint-up(lg) {
				justify-content: flex-start;
				// --bs-gutter-x: #{rem(16)};
			}
			@include media-breakpoint-up(xl) {
				// --bs-gutter-x: #{rem(20)};
			}
			// --bs-gutter-y: var(--bs-gutter-x);
		}
		&__btn {
			width: 100%;
			max-width: 450px;
			@include media-breakpoint-up(md) {
				width: 288px;
			}
			@include media-breakpoint-up(lg) {
				width: 224px;
			}
			@include media-breakpoint-up(xxl) {
				width: 270px;
			}
		}
		.form-group {
			width: 100%;
			max-width: 450px;
			margin-left: auto;
			margin-right: auto;
			@include media-breakpoint-up(md) {
				width: 288px;
			}
			@include media-breakpoint-up(lg) {
				width: 224px;
			}
			@include media-breakpoint-up(xxl) {
				width: 270px;
			}
		}
	}
	&__img-wrap {
		picture {
			margin-left: calc(-1 * var(--bs-gutter-x));
			img {
				@include media-breakpoint-up(xxl) {
					max-width: none;
				}
			}
		}
	}
	.agreement {
		margin-top: rem(40);
		margin-bottom: rem(60);
		@include media-breakpoint-up(md) {
			margin-top: rem(20);
			margin-bottom: rem(40);
		}
		@include media-breakpoint-up(xxl) {
			margin-top: rem(40);
			margin-bottom: rem(40);
		}
		.custom-input {
			max-width: 450px;
			margin-left: auto;
			margin-right: auto;
			@include media-breakpoint-up(md) {
				max-width: 100%;
				justify-content: center;
			}
			@include media-breakpoint-up(lg) {
				justify-content: flex-start;
			}
		}
	}
	.tel-n-social {
		justify-content: center;
		@include media-breakpoint-up(lg) {
			justify-content: flex-start;
		}
	}

	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-up(xs) {
	}

	//
	@include media-breakpoint-between(md, xl) {
	}

	//
	@include media-breakpoint-only(xs) {
	}
	@include media-breakpoint-only(sm) {
	}
	@include media-breakpoint-only(md) {
	}
	@include media-breakpoint-only(lg) {
	}
	@include media-breakpoint-only(xl) {
	}

	//
	@include media-breakpoint-down(xl) {
	}
	@include media-breakpoint-down(lg) {
	}
	@include media-breakpoint-down(md) {
	}
	@include media-breakpoint-down(sm) {
	}
	@include media-breakpoint-down(xs) {
	}
} // end.sForm
