mixin sDocs(h4)
	// start sDocs
	+b.sDocs.section&attributes(attributes)
		.container
			if h4
				h4!= h4
			.row 
				- for (var x = 0; x < 6; x++)
					+e.col.col-lg-4.col-6
						+e.item(href="#")
							img(src="img/svg/doc.svg" loading="lazy", alt="")
							div
								+e.title Название файла.pdf
								+e.size 1 мб
	// end sDocs