.modal-win {
	// display: block;
	width: 100%;
	position: relative;
	max-width: rem(460);
	.modal-content {
		// max-width: 485px;
		// padding-right: 40px 15px;
	}

	.mfp-close {
		color: $primary;
		font-size: 40px;
		font-weight: 100;
	}
}

a {
	outline: 0 !important;
}

.modal-form {
	position: relative;
}

#foot-dialog {
	h3 {
		font-size: em(36);
	}
}

.mfp-close {
	user-select: none; // width: 44px;
	// height: 44px;
	// line-height: 44px;
	position: absolute;
	right: 0;
	top: 0;
	text-decoration: none;
	text-align: center;
	opacity: 0.65; // padding: 0 0 18px 10px;
	// color: #fff;
	font-style: normal;
	font-size: 28px;
	font-family: Arial, Baskerville, monospace;
	overflow: visible;
	cursor: pointer;
	background: 0 0;
	border: 0;
	display: block;
	outline: 0;
	padding: 0;
	z-index: 1046;
	box-shadow: none;
	color: $body-color;
	opacity: 1;
	font-size: 50px;
	font-weight: 100;
	width: 56px;
	height: 56px; // box-shadow: 0 10px $h2-font-size rgba(0, 0, 0, 0.15);
	// background-color: #fff;
	border-radius: 50%;
	line-height: 56px;
	text-align: center;
	margin-top: -5px;
	margin-right: -5px;
	@include mt;

	&:hover {
		// background-color: #e3f3f6;
	}
}

@include media-breakpoint-up(sm) {
	.modal-text {
		max-width: 1000px;
	}
}

.polite {
	.link {
		color: $primary;
		cursor: pointer;
		text-decoration: underline;

		:hover {
			display: none;
		}
	}
}
.modal-cookies {
	box-shadow: 0px 0px 25px rgba(50, 58, 66, 0.15);
	background-color: $white;
	@include media-breakpoint-up(md) {
		max-width: rem(345);
		padding-top: rem(20);
		padding-left: rem(25);
		padding-bottom: rem(20);
		padding-right: rem(15);
	}
	position: fixed;
	z-index: 5;
	@include media-breakpoint-down(md) {
		bottom: 18px;
		left: 50%;
		transform: translate(-50%, 0);
	}
	@include media-breakpoint-up(md) {
		bottom: rem(60);
		left: rem(55);
	}
	width: 100%;
	padding: 20px;
	max-width: 540px;
	&__is-close {
		@include mt;
		position: absolute;
		top: rem(11) !important;
		right: rem(11) !important;
		border-width: 0px !important;
		box-shadow: none !important;
		background-color: transparent;
		outline: 0 !important;
		&:hover {
			opacity: 0.75;
		}
		svg {
			outline: 0!important;
			filter: none;
			width: 20px;
			height: 20px;
			stroke: #cacfd6;
			fill: none;
			stroke-width: var(--carousel-button-svg-stroke-width, 1.5);
			stroke-linejoin: bevel;
			stroke-linecap: round;
			@include media-breakpoint-up(md) {
				width: rem(20);
				height: rem(20);
			}
		}
	}
	&__caption {
		line-height: 150%;
		font-size: 16px;
		color: #323a42;
		padding-bottom: 15px;
		@include media-breakpoint-up(md) {
			font-size: rem(16);
			padding-bottom: rem(15);
		}
		a {
			color: $primary !important;
			border-bottom: 1px solid $primary;
		}
	}
	&__btn {
		@extend .btn, .btn-primary;
		text-align: center;
		max-width: 134px;
		font-size: 16px;
		line-height: 20px;
		@include media-breakpoint-up(md) {
			max-width: rem(134);
			font-size: rem(16);
			line-height: rem(20);
		}
	}
}
//
@include media-breakpoint-up(xl) {
}

@include media-breakpoint-up(lg) {
}

@include media-breakpoint-up(md) {
}

@include media-breakpoint-up(sm) {
}

@include media-breakpoint-up(xs) {
}

//
@include media-breakpoint-between(md, xl) {
}

//
@include media-breakpoint-only(xs) {
}

@include media-breakpoint-only(sm) {
}

@include media-breakpoint-only(md) {
}

@include media-breakpoint-only(lg) {
}

@include media-breakpoint-only(xl) {
}

//
@include media-breakpoint-down(xl) {
}

@include media-breakpoint-down(lg) {
}

@include media-breakpoint-down(md) {
}

@include media-breakpoint-down(sm) {
}

@include media-breakpoint-down(xs) {
}

.fancybox__container {
	// max-width: 100%;
	// min-width: 100%;
	width: 100% !important;
	min-height: 100%;
	// transform: m;
	transform: none !important;
}

.fancybox__slide {
	@include media-breakpoint-down(md) {
		padding: 0;
	}
	&:not(.has-image):before {
		@include media-breakpoint-down(md) {
			// margin: 0;
		}
	}
}
.city-choose {
	@include media-breakpoint-up(md) {
		border-radius: 5px;
	}
	flex-grow: 1;
	scrollbar-color: #cacfd6 $light;
	::-webkit-scrollbar {
		width: 4px;
		background-color: $light;
		border-radius: 5px;
	}
	::-webkit-scrollbar-thumb {
		height: 91px;
		background-color: #cacfd6;
		border-radius: 5px;
	}
	position: relative;
	padding: 60px;
	@include media-breakpoint-down(md) {
		width: 100%;
		max-width: none;
	}
	@include media-breakpoint-up(xxl) {
		max-height: 645px;
		min-width: none;
		width: 460px;
	}
	@include media-breakpoint-up(md) {
		padding: 40px;
		min-width: 460px;
		max-height: 517px;
	}
	h2 {
		text-align: center;
		font-size: 32px;
		margin-bottom: 20px;
		font-weight: 700;
		@include media-breakpoint-up(md) {
			font-size: rem(32);
			margin-bottom: rem(20);
		}
	}
	.is-close {
		position: absolute;
		top: 11px !important;
		right: 11px !important;
		color: #cacfd6 !important;
		border-width: 0px !important;
		box-shadow: none !important;
		&:hover {
			opacity: 0.75;
		}
		svg {
			filter: none;
			width: 24px;
			height: 24px;
			@include media-breakpoint-down(md) {
				width: 30px;
				height: 30px;
			}
		}
	}
	.form-wrap {
		&__input-wrap {
			position: relative;
			@include media-breakpoint-up(md) {
				max-width: 380px;
			}
			input {
				padding-right: rem(50);
			}
		}
		&__scroll-list {
			overflow: auto;
			max-height: none;
			@include media-breakpoint-down(md) {
				margin-top: 40px;
			}
			@include media-breakpoint-up(md) {
				width: 400px;
				margin-top: 12px;
				max-height: 336px;
			}
			@include media-breakpoint-up(xxl) {
				margin-top: 20px;
				max-height: 436px;
			}
			a {
				color: $body-color;
			}
			li {
				&.active {
					color: $primary;
					font-weight: 600;
				}
				&:hover {
					background-color: $light;
				}
				list-style-type: none;
				border-radius: 3px;
				@include media-breakpoint-down(md) {
					padding-top: 13px;
					padding-bottom: 13px;
					padding-left: 20px;
				}
				@include media-breakpoint-up(xxl) {
					padding-top: 10px;
					padding-bottom: 10px;
					padding-left: 20px;
				}
				@include media-breakpoint-up(md) {
					max-width: 380px;
					padding-top: 6px;
					padding-bottom: 6px;
					padding-left: 12px;
				}
			}
		}
	}
	.btn--input {
		position: absolute;
		@include media-breakpoint-down(sm) {
			top: 15px;
			right: 20px;
		}
		@include media-breakpoint-down(md) {
			top: 10px;
			right: 15px;
		}
		@include media-breakpoint-up(xxl) {
			top: 14px;
			right: 17px;
		}
		@include media-breakpoint-up(md) {
			top: 11px;
			right: 12px;
		}
		padding: 0;
		svg {
			width: 20px;
			height: 20px;
			color: #cacfd6;
		}
	}
}
@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
.loading {
	svg {
		animation: spin 0.7s linear 0s infinite;
	}
}
.short-modal {
	padding: 40px;
	@include media-breakpoint-down(md) {
		// padding: 60px;
		// width: 100%;
		// max-width: none;
	}
	@include media-breakpoint-up(xxl) {
		min-width: 640px;
	}
	min-width: 580px;
	border-radius: 5px;
	@include media-breakpoint-up(md) {
	}
	.btn-outline-primary {
		border-width: 2px;
	}
	h2 {
		@include media-breakpoint-down(md) {
			font-size: 32px;
		}
		font-weight: 700;
		text-align: center;
		font-size: rem(32);
	}
	.is-close {
		&:hover {
			opacity: 0.75;
		}
		position: absolute;
		top: 11px !important;
		right: 11px !important;
		color: #cacfd6 !important;
		border-width: 0px !important;
		box-shadow: none !important;
		svg {
			filter: none;
			width: 24px;
			height: 24px;
			@include media-breakpoint-down(md) {
				width: 30px;
				height: 30px;
			}
		}
	}
	.form-wrap {
		form {
			display: flex;
			align-items: center;
			flex-direction: column;
		}
		&__caption {
			text-align: center;
			font-weight: 500;
			color: #778089;
			padding-top: 24px;
			@include media-breakpoint-up(md) {
				padding-top: 12px;
			}
		}
		&__btn {
			border-radius: 3px;
			margin-top: 30px;
			width: rem(220);
			@include media-breakpoint-up(xxl) {
				margin-top: 20px;
			}
			@include media-breakpoint-down(md) {
				margin-top: 40px;
				// width: 448px;
			}
		}
	}
}
.in-cart {
	.form-wrap {
		.btns {
			display: flex;
			width: rem(460);
			margin-top: 30px;
			justify-content: space-between;
			@include media-breakpoint-down(md) {
				margin-top: 40px;
				// width: 448px;
				flex-direction: column;
			}
			.btn-outline-primary {
				@include media-breakpoint-down(md) {
					margin-top: 20px;
				}
			}
		}
		&__btn {
			padding-left: 10px;
			padding-right: 10px;
			margin-top: 0;
			@include media-breakpoint-down(md) {
				// margin-top: 0;
				// width: 448px;
			}
		}
	}
}

.request {
	border-radius: 5px;
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-down(md) {
		// flex-grow: 1;
	}
	padding: 40px;
	// width: 460px;
	@include media-breakpoint-down(md) {
		// padding-left: 64px;
		// padding-right: 64px;
		// justify-content: center;
		// width: 100%;
		// max-width: none;
	}
	h2 {
		@include media-breakpoint-down(md) {
			font-size: 32px;
		}
		font-weight: 700;
		text-align: center;
		font-size: rem(32);
	}
	.is-close {
		position: absolute;
		top: 11px !important;
		right: 11px !important;
		color: #cacfd6 !important;
		border-width: 0px !important;
		box-shadow: none !important;
		&:hover {
			opacity: 0.75;
		}
		svg {
			filter: none;
			width: 24px;
			height: 24px;
			@include media-breakpoint-down(md) {
				width: 30px;
				height: 30px;
			}
		}
	}
	.form-wrap {
		&__caption {
			text-align: center;
			font-weight: 500;
			color: #778089;
			padding-top: 24px;
			@include media-breakpoint-up(md) {
				padding-top: 12px;
			}
		}
		&__btn {
			width: 100%;
		}
	}
	.form-input {
		padding-top: 40px;
		padding-bottom: 40px;
		@include media-breakpoint-between(md, xxl) {
			padding-top: 24px;
			padding-bottom: 24px;
		}
		input {
			margin-bottom: 20px;
			text-align: center;
		}
	}
}
