mixin modal() 
	//  start modals


	+b.modal-win.short-modal(id="modal-gratitude" class=" " style="display: none" )
		+form-wrap
			h2 Спасибо за обращение!
			+e.caption Наш менеджер свяжется с&nbsp;Вами в&nbsp;ближайшее время для уточнения деталей заказа
			+e.btn.btn.btn-primary.modal-close-js Закрыть
	// #modal-gratitude
	+b.modal-win.request(id="modal-request" class=" " style="display: none" )
		+form-wrap
			h2 Оставить заявку
			+e.caption Заполните форму, и&nbsp;наш менеджер свяжется с&nbsp;Вами в&nbsp;ближайшее время для уточнения деталей заказа
			.form-input
				+input('Ваше имя')
				+input('Ваш телефон','tel')
				+e.btn.btn.btn-primary Отправить заявку
			+agreement()
	
	//- +b.modal-cookies(id="modal-cookies" class=" " style="display: none" )
	//- 	+e.caption!=`Мы используем файлы cookie. Подробнее - в нашей <a href='#'>политике об обработке персональных данных</a>`
	//- 	+e.btn(href="#") Понятно
	// end modals