mixin sFeedbackForm(data)
	// start sFeedbackForm
	+b.sFeedbackForm
		h2 Форма обратной связи
		+e.caption Если вы&nbsp;хотите обратиться с&nbsp;предложением, оставить отзыв или у&nbsp;вас есть вопросы, воспользуйтесь формой ниже:
		+form-wrap()
			.row
				.col-12.col-md-4
					+input('Ваше имя')
				.col-12.col-md-4
					+input(`Ваш телефон`, 'tel')
				.col-12.col-md-4
					+input(`Ваш e-mail`, 'email')
				.col-12
					+input(`Ваше сообщение`, 'textarea')
				.col-md-auto.col-12
					+e.btn.btn.btn-primary Отправить
				.col-md.col-12
					+agreement
	// end sFeedbackForm