mixin sContact()
	// start sContact
	+b.SECTION.sContact#sContact&attributes(attributes)
		.container
			.row
				.col-md-6.section
					+e.content
						+b.section-title
							h2 Контакты
						mixin item(t)
							+e.item
								.strong!= t
								block
						+item(`Адрес:`)
							p 603124, г. Нижний Новгород, ул. Вторчермета д.&nbsp;1, офис 113
						+item(`Телефон:`)
							+b.tel-n-social
								+e.A.link(href="tel:+79308067171") +7 (930) 806-71-71
								+b.soc
									+item-sos().--viber
										img(src="img/svg/whatsapp-2.svg" alt="")
									+item-sos().--telegram
										img(src="img/svg/telegram-2.svg" alt="")
									+item-sos().--whatsapp
										img(src="img/svg/viber-2.svg" alt="")
						+item(`E-mail:`)
							+e.A.mail(href="mailto:skladstali@mail.ru") skladstali@mail.ru
						+e.btn.btn.btn-primary.link-modal-js(href="#modal-request") Заказать звонок
				+e.col.col-md-6
					+e.map
						+e.map-widget#map
	// end sContact