mixin sCard(data)
	// start sCard
	+b.sCard.section#sCard&attributes(attributes)
		.container
			.row
				+e.col.col-12.col-md-6.col-auto
					+e.img-wrap()
						+pic('card.jpg','bg',0)
					+e.contact--lg-only
						.text-secondary Свяжитесь с&nbsp;нами в&nbsp;мессенджерах и&nbsp;мы&nbsp;проконсультируем вас:
						+b.soc
							+item-sos
								img(src="img/svg/telegtam.svg" alt="")
							+item-sos
								img(src="img/svg/viber.svg" alt="")
							+item-sos
								img(src="img/svg/whatsapp.svg" alt="")
				.col-12.col-md-6.col-lg
					p Труба водогазопроводная или труба ВГП относится к трубному прокату, который используется для организации систем водоснабжения, устройства систем газоснабжения и санитарно-технических систем. Газо- и водонепроницаемость трубы обеспечивает надежный сварочный шов, который проходит испытания на соответствие требованиям ГОСТ 3262-75.
					BUTTON.btn-more Подробное описание
					+e.price Цена: от 110 000 ₽
					+e.buttons
						.row
							.col-6.col-lg-12.col-xl-6
								+e.btn.btn.btn-primary Оставить заявку
							//- .col-6.col-lg-12.col-xl-6
							//- 	+e.btn.btn.btn-outline-primary 
							//- 		+icon('basket')
							//- 		| В корзину
					+e.contact.row
						.col-auto
							+b.soc
								+item-sos
									img(src="img/svg/telegtam.svg" alt="")
								+item-sos
									img(src="img/svg/viber.svg" alt="")
								+item-sos
									img(src="img/svg/whatsapp.svg" alt="")
						.col.text-secondary Свяжитесь с&nbsp;нами в&nbsp;мессенджерах и&nbsp;мы&nbsp;проконсультируем вас:
	// end sCard