mixin sCard(data)
	// start sCard
	+b.sCard.section#sCard&attributes(attributes)
		.container
			.row
				+e.col.col-12.col-md-6.col-auto
					+e.img-wrap()
						+pic('card.jpg','bg',0)
				.col-12.col-md-6.col-lg
					.sReadMore__text
						p Труба водогазопроводная или труба ВГП относится к трубному прокату, который используется для организации систем водоснабжения, устройства систем газоснабжения и санитарно-технических систем. Газо- и водонепроницаемость трубы обеспечивает надежный сварочный шов, который проходит испытания на соответствие требованиям ГОСТ 3262-75.
						p Труба водогазопроводная или труба ВГП относится к трубному прокату, который используется для организации систем водоснабжения, устройства систем газоснабжения и санитарно-технических систем. Газо- и водонепроницаемость трубы обеспечивает надежный сварочный шов, который проходит испытания на соответствие требованиям ГОСТ 3262-75.
						//- BUTTON.btn-more Подробное описание
					+e.price Цена: от 110 000 ₽
					+e.buttons
						.row
							.col-6.col-lg-12.col-xl-6
								+e.btn.btn.btn-primary.link-modal-js(href="#modal-request") Оставить заявку
							//- .col-6.col-lg-12.col-xl-6
							//- 	+e.btn.btn.btn-outline-primary 
							//- 		+icon('basket')
							//- 		| В корзину
					+e.contact.row
						.col-xl-auto.col-md-12.col-auto.order-xl-0.order-md-last
							+b.soc
								+item-sos
									img(src="img/svg/telegtam.svg" alt="")
								+item-sos
									img(src="img/svg/viber.svg" alt="")
								+item-sos
									img(src="img/svg/whatsapp.svg" alt="")
						.col.text-secondary Свяжитесь с&nbsp;нами в&nbsp;мессенджерах и&nbsp;мы&nbsp;проконсультируем вас:
	// end sCard