mixin sPrintHead(data)
	// start sPrintHead
	+b.SECTION.sPrintHead.section#sPrintHead&attributes(attributes)
		.container
			.row
				img(src="img/svg/logo-head.svg", alt="")
				p www.td-ktc.ru
	// end sPrintHead