:root {
	--animate-delay: 1.2s;
	@include media-breakpoint-up(xxl) {
		--fontSizeBase: #{$em-base};
	}
	@include media-breakpoint-up(sm) {
		--fontSizeBase: 14px;
	}
	--fontSizeBase: 18px;
	--sTPB: #{rem(60)};
	--sPT: #{rem(70)};
	--sPB: #{rem(70)};

	@include media-breakpoint-up(lg) {
		--sPT: #{rem(80)};
		--sPB: #{rem(80)};
	}

	@include media-breakpoint-up(xl) {
		// --sPT: #{rem(100)};
		// --sPB: #{rem(100)};
		color: rgba($color: #000000, $alpha: 1);
	}

	--swiperArrowSize: #{rem(50)};
	--swiperArrowPosition: calc(-1 * var(--swiperArrowSize) / 2);
	--swiperBorderColorDef: transparent;
	--swiperColorDef: var(--bs-primary);
	--swiperBgDef: var(--bs-light);

	--swiperBorderColorDefHover: var(--swiperBorderColorDef);
	--swiperColorDefHover: var(--bs-primary);
	--swiperBgDefHover: var(--bs-light);
	@include media-breakpoint-up(lg) {
		--swiperBorderColorDefHover: transparent;
		--swiperColorDefHover: var(--bs-primary);
		--swiperBgDefHover: rgba(243, 244, 246, 0.5);
	}

	--fancybox-bg: rgba(50, 58, 66, 0.6);

	--carousel-button-width: 48px;
	--carousel-button-height: 48px;

	--carousel-button-svg-width: 24px;
	--carousel-button-svg-height: 24px;

	--carousel-button-svg-stroke-width: 2.5;
	--carousel-button-svg-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.4));

	@include media-breakpoint-up(sm) {
		--header-height: 72px;
	}
	--header-height: 85px;



	--chevron-up: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M6.46824 2.66642L11.8083 8.00657C11.9319 8.13008 12 8.29496 12 8.47076C12 8.64657 11.9319 8.81144 11.8083 8.93496L11.4151 9.32822C11.1589 9.58412 10.7425 9.58412 10.4867 9.32822L6.00249 4.84396L1.51326 9.3332C1.38965 9.45671 1.22487 9.5249 1.04916 9.5249C0.873261 9.5249 0.708482 9.45671 0.584775 9.3332L0.191706 8.93993C0.0680971 8.81632 -1.04147e-08 8.65154 -1.25111e-08 8.47574C-1.46076e-08 8.29994 0.0680971 8.13506 0.191706 8.01155L5.53664 2.66642C5.66064 2.54262 5.8262 2.47462 6.00219 2.47501C6.17888 2.47462 6.34434 2.54262 6.46824 2.66642Z' fill='%233992D3'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='12' height='12' fill='white' transform='matrix(1.19249e-08 -1 -1 -1.19249e-08 12 12)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}

@include media-breakpoint-up(xl) {
}

@include media-breakpoint-up(lg) {
}

@include media-breakpoint-up(md) {
}

@include media-breakpoint-up(sm) {
}

@include media-breakpoint-up(xs) {
}

//
@include media-breakpoint-between(md, xl) {
}

//
@include media-breakpoint-only(xs) {
}

@include media-breakpoint-only(sm) {
}

@include media-breakpoint-only(md) {
}

@include media-breakpoint-only(lg) {
}

@include media-breakpoint-only(xl) {
}

//
@include media-breakpoint-down(xl) {
}

@include media-breakpoint-down(lg) {
}

@include media-breakpoint-down(md) {
}

@include media-breakpoint-down(sm) {
}

@include media-breakpoint-down(xs) {
}
