:root {
	--animate-delay: 1.2s;
	@include media-breakpoint-up(xxl) {
		--fontSizeBase: #{$em-base};
	}
	@include media-breakpoint-up(sm) {
		--fontSizeBase: 14px;
	}
	--fontSizeBase: 18px;
	--sTPB: #{rem(60)};
	--sPT: #{rem(80)};
	--sPB: #{rem(80)};

	@include media-breakpoint-up(xl) {
		--sPT: #{rem(100)};
		--sPB: #{rem(100)};
		color: rgba($color: #000000, $alpha: 1.0)
	}

	--swiperArrowSize: #{rem(50)};
	--swiperArrowPosition: calc(-1 * var(--swiperArrowSize) / 2);
	--swiperBorderColorDef: transparent;
	--swiperColorDef: var(--bs-primary);
	--swiperBgDef: var(--bs-light);

	--swiperBorderColorDefHover: var(--swiperBorderColorDef);
	--swiperColorDefHover: var(--bs-primary);
	--swiperBgDefHover: var(--bs-light);
	@include media-breakpoint-up(lg) {
		--swiperBorderColorDefHover: transparent;
		--swiperColorDefHover: var(--bs-primary);
		--swiperBgDefHover: rgba(243, 244, 246, 0.5);
	}

	--fancybox-bg: rgba(50, 58, 66, 0.6);

	--carousel-button-width: 48px;
	--carousel-button-height: 48px;

	--carousel-button-svg-width: 24px;
	--carousel-button-svg-height: 24px;

	--carousel-button-svg-stroke-width: 2.5;
	--carousel-button-svg-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.4));

	--header-height: 79px;
}



@include media-breakpoint-up(xl) {
}

@include media-breakpoint-up(lg) {
}

@include media-breakpoint-up(md) {
}

@include media-breakpoint-up(sm) {
}

@include media-breakpoint-up(xs) {
}

//
@include media-breakpoint-between(md, xl) {
}

//
@include media-breakpoint-only(xs) {
}

@include media-breakpoint-only(sm) {
}

@include media-breakpoint-only(md) {
}

@include media-breakpoint-only(lg) {
}

@include media-breakpoint-only(xl) {
}

//
@include media-breakpoint-down(xl) {
}

@include media-breakpoint-down(lg) {
}

@include media-breakpoint-down(md) {
}

@include media-breakpoint-down(sm) {
}

@include media-breakpoint-down(xs) {
}
