.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arrow {
	font-size:(500/10)*1rem;
	width:(250/500)*1em;
}
.icon-basket {
	font-size:(21/10)*1rem;
	width:(20/21)*1em;
}
.icon-call {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-check {
	font-size:(27/10)*1rem;
	width:(27/27)*1em;
}
.icon-chevron-left {
	font-size:(12/10)*1rem;
	width:(12/12)*1em;
}
.icon-chevron-right {
	font-size:(12/10)*1rem;
	width:(12/12)*1em;
}
.icon-close {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-compass {
	font-size:(11/10)*1rem;
	width:(10/11)*1em;
}
.icon-fb {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-instagram {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-loading {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-logo {
	font-size:(51/10)*1rem;
	width:(290/51)*1em;
}
.icon-logo-icon {
	font-size:(500/10)*1rem;
	width:(480.47/500)*1em;
}
.icon-pdf {
	font-size:(25/10)*1rem;
	width:(25/25)*1em;
}
.icon-print {
	font-size:(25/10)*1rem;
	width:(25/25)*1em;
}
.icon-question {
	font-size:(50/10)*1rem;
	width:(50/50)*1em;
}
.icon-refresh {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-search {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-search-icon {
	font-size:(14/10)*1rem;
	width:(14/14)*1em;
}
.icon-telegram {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-trolley {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-viber {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-vk {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-whatsapp {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
