mixin sCategories(data)
	// start sCategories
	+b.SECTION.sCategories.section#sCategories&attributes(attributes)
		.container
			+b.section-title.text-center
				h1 Каталог товаров
			.row
				+category-item(`categories-1.png`, `Двигатели`)
				+category-item(`categories-2.png`, `Сборочные комплекты двигателя`)
				+category-item(`categories-1.png`, `Блоки цилиндров`)
				+category-item(`categories-1.png`, `Валы коленчатые`)
				+category-item(`categories-1.png`, `Цилиндропоршневая группа`)
				+category-item(`categories-1.png`, `Запчасти двигателей`)
				+category-item(`categories-1.png`, `Топливная система`)
				+category-item(`categories-1.png`, `Двигатели Cummins`)
				+category-item(`categories-3.png`, `Long/Short Block Cummins`)
				+category-item(`categories-4.png`, `Коробки передач`)
				+category-item(`categories-1.png`, `Главные передачи`)
				+category-item(`categories-1.png`, `Коробки раздаточные`)

	// end sCategories