mixin sCardBody(data)
	// start sCardBody
	+b.sCardBody.section#sCardBody&attributes(attributes)
		.container
			.tabs
				.tabs__caption
					.tabs__btn.active Ассортимент
					.tabs__btn Описание
					.tabs__btn ГОСТы
					.tabs__btn Сертификаты
				.tabs__wrap
					.tabs__content
						+b.price-table
							table
								thead
									tr
										th Наименование
										th R1
										th Длина
										th Цена
										th Количество
								tbody
									mixin tr(a)
										tr
											td
												div
													if a
														a(href="#") Трубы электросварные 16×1 х/к
													else
														| Трубы электросварные 16×1 х/к
											td 18
											td 6000
											td 27 ₽
											td
												+b.block-add 
													+e.btn(type="button")
													input(type="number" value="0")
													+e.btn--plus(type="button")
									- for (var x = 0; x < 3; x++)
										+tr()
										+tr("a")
							+e.footer.row
								+e.text.col-md Всего выбрано товаров: #[span 2]
								+e.btn.col-md-auto(href="#") Оставить заявку
								
					.tabs__content
						p При изготовлении электросварной трубы, в основе берут заготовку – стальную полосу, сгибают на специальном оборудовании, а края соединяют при помощи электросварки.
						p: strong Преимущества трубы:
						ul
							li прочность металла – устойчив к механическим повреждениям;
							li большой спектр использования – универсальность;
							li долговечность (30–50 лет эксплуатации);
							li не портятся под влиянием ультрафиолета;
							li прекрасно переносят высокие и низкие температуры.
						p Популярность изделия обусловлено широким спектром применения: машиностроение, вентиляции любого здания, строительство, мебельное производство.

						p Труба Электросварная очень прочная и&nbsp;имеет надежный соединительный шов. Их&nbsp;производство осуществляется по&nbsp;требованиям ГОСТа.

						p Длина труб варьируется от&nbsp;4- 12,5&nbsp;метров.

						p Электросварные трубы выпускаются с&nbsp;разными диаметрами и&nbsp;толщиной стенок, от&nbsp;этих показателей определяется сфера, в&nbsp;которой они будут применяться.

						p Заказать электросварные трубы на&nbsp;нашем складе, вы&nbsp;можете позвонив по&nbsp;номеру телефона или приехав в&nbsp;офис. Актуальность цены уточняйте у&nbsp;менеджера.
					.tabs__content.active 3
					.tabs__content 4
	// end sCardBody