// start .sAbout
.sAbout {
	--sPB: 0;
	--sTPB: #{rem(35)};
	@include media-breakpoint-up(md) {
		--sPT: #{rem(90)};
		--sPB: 0;
		--sTPB: #{rem(40)};
	}
	@include media-breakpoint-up(lg) {
		--sPB: #{rem(95)};
	}
	// .container {
	// 	position: relative;
	// }
	.row {
		--bs-gutter-y: #{rem(60)};
		position: relative;
		text-align: center;
		@include media-breakpoint-up(lg) {
			--bs-gutter-y: 0;
			text-align: left;
		}
	}
	p {
		margin-bottom: 0;
		&:first-of-type {
			font-weight: 600;
			font-size: rem(20);
			margin-bottom: rem(30);
			color: #868d9c;
		}
		&:not(:last-child) {
			margin-bottom: rem(30);
		}
	}
	&__btn {
		margin-top: rem(5);
		width: 200px;
	}
	&__col {
		position: relative;
		&::after {
			content: "";
			position: absolute;
			background-image: url(../img/svg/triangle-1.svg);
			background-size: contain;
			background-repeat: no-repeat;
			// z-index: -1;
			width: rem(80);
			height: rem(85);
			transform: rotateX(180deg);
			top: auto;
			bottom: 0;
			left: auto;
			right: calc(50% + #{rem(115)});
			@include media-breakpoint-up(lg) {
				transform: none;
				top: 0;
				bottom: auto;
				right: 7.5%;
			}
			@include media-breakpoint-up(xxl) {
				width: rem(110);
				height: rem(118);
			}
		}
		&::before {
			content: "";
			position: absolute;
			background-image: url(../img/svg/triangle-2.svg);
			background-size: contain;
			background-repeat: no-repeat;
			z-index: -1;
			width: rem(220);
			height: rem(235);
			left: calc(50% + #{rem(20)});
			bottom: 0;
			@include media-breakpoint-up(lg) {
				right: rem(10);
				left: auto;
			}
			@include media-breakpoint-up(xxl) {
				width: rem(300);
				height: rem(324);
			}
		}
		@include media-breakpoint-up(lg) {
			position: static;
		}
	}
	picture {
		img {
			max-width: rem(350);
			@include media-breakpoint-up(xl) {
				max-width: rem(420);
			}
			@include media-breakpoint-up(xxl) {
				max-width: 100%;
			}
		}
	}
	// picture {
	// 	position: relative;
	// 	margin-bottom: calc(-1 * var(--sPB));
	// 	width: 100%;
	// 	height: 100%;
	// 	@include media-breakpoint-only(lg) {
	// 	}
	// 	@include media-breakpoint-up(xl) {
	// 		margin-top: rem(-29);
	// 	}
	// 	img {
	// 		max-width: rem(350);
	// 		height: auto;
	// 		position: relative;
	// 		@include media-breakpoint-up(lg) {
	// 			position: absolute;
	// 			top: auto;
	// 			bottom: calc(-1 * var(--sPB));
	// 		}
	// 		@include media-breakpoint-up(xl) {
	// 			position: relative;
	// 			max-width: 100%;
	// 			bottom: 0;
	// 		}
	// 	}
	// }
	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sAbout
