mixin sAbout(data)
	// start sAbout
	+b.SECTION.sAbout#sAbout&attributes(attributes)
		.container
			.row
				.col-lg-7.section
					+b.section-title
						h2 О компании
					p ООО «СтальСклад» занимается оптовой и розничной продажами металлопроката, принимаем заказы от 100кг, территориально находимся в Нижнем Новгороде.
					p Для выбора клиентам предоставляется широкий ассортимент материалов. В нашем каталоге самые разнообразные позиции металла, которые помогут вам решить любые производственные задачи.
					p Металлопрокат можно разделить на 2 вида: плоский и объемный. Плоский прокат, в свою очередь подразделяется на горячекатаный и холоднокатаный. Металлопрокат первого вида имеет толщину до 150 мм, а второго вида – до 3 мм. В зависимости от того, для чего вам необходим металл, вы можете выбрать разные виды.
					+e.btn.btn.btn-primary(href="#") Подробнее
				+e.col.col-lg-5.align-self-end
					+pic('about.png','',0)

	// end sAbout