extends layout/main.pug


//- include ../blocks/sContent/_sContent.pug
//- include ../blocks/sContact/_sContact.pug
//- include ../blocks/sCategories/_sCategories.pug
//- include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/sAdvantages/_sAdvantages.pug
include ../blocks/sQ/_sQ.pug
include ../blocks/sDelivery/_sDelivery.pug
include ../blocks/sCard/_sCard.pug
include ../blocks/sContactInfo/_sContactInfo.pug
include ../blocks/sSimilar/_sSimilar.pug
include ../blocks/sReadMore/_sReadMore.pug
block variables
	- let  mainPage= 'main-page' 
	//- - let  bg= '02-catalog.jpg'

block title
	- let  title= 'Двигатель 740.11 (740.11-1000400)'
	title= title
block pagecontent 
	//- +mob-mnu()
	//- +header()
	//- 	+topLine()
	//- 	+top-nav()
	//- +headerBlock()
	//- +sContact()
	+mob-mnu()
	+header()
	+page-body('', title, 'Каталог товаров', 'Двигатели', 'Двигатель 740.11 (740.11-1000400)')
		+sCard()
		+b.sCardLink.py-2
			h4.strong.mb-3  Дополнительные модификации
			.list-group
				mixin item(t)
					a.list-group-item(href="#") 
						+icon("chevron-right")
						span!= t
				+item("Двигатель 740.10 (740.1000400-20) 220 л/с ЕВРО-0")
				+item("Двигатель 740.10 (740.1000410) 210 л/с ЕВРО-0")
				+item("Двигатель 740.10 (740.1000410-20) 220 л/с ЕВРО-0")
				+item("Двигатель 740.10 (740.1000400-20) 220 л/с ЕВРО-0")
				+item("Двигатель 740.10 (740.1000411) 210 л/с ЕВРО-0")
				+item("Двигатель 740.10 (740.1000412) 210 л/с ЕВРО-0")
				+item("Двигатель 740.10 (740.1000412-20) 220 л/с ЕВРО-0")
				+item("Двигатель 740.10 (740.1000500) 210 л/с ЕВРО-0")
				+item("Двигатель 740.10 (740.1000500-20) 220 л/с ЕВРО-0")
				+item("Двигатель 740.10 (740.1000510) 210 л/с ЕВРО-0")
				+item("Двигатель 740.10 (740.1000510-20) 220 л/с ЕВРО-0")
				+item("Двигатель 740.10 (740.1000512-20) 220 л/с ЕВРО-0")
				+item("Двигатель 74009.10-400 210 л/с ЕВРО-0")
				+item("Двигатель 74009.10-450 210 л/с ЕВРО-0")
				+item("Двигатель 74009.10-412 210 л/с ЕВРО-0")
		+sContactInfo()
		+sReadMore()
		+sSimilar()
	+sForm(`Не&nbsp;нашли нужную модель?`)
	+sDelivery()
	+sAdvantages()
	+sQ()
	+footer()

