extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sAdvantageBlock/_sAdvantageBlock.pug
include ../blocks/sFeedbackForm/_sFeedbackForm.pug
include ../blocks/sAppeal/_sAppeal.pug
include ../blocks/sRequisites/_sRequisites.pug
//- include ../blocks/sAdvantages/_sAdvantages.pug
//- include ../blocks/sQ/_sQ.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= '07-typography.jpg'

block title
	- let  title= 'Типовая страница'
	title= title
block pagecontent 
	//- +mob-mnu()
	//- +header()
	//- 	+topLine()
	//- 	+top-nav()
	//- +headerBlock()
	+mob-mnu()
	+header()
	+page-body06('btns','Типовая страница', title)
		+sContent()
			+sAppeal()
			+sRequisites()
			+sAdvantageBlock()
			+sFeedbackForm()
	//- +sContact()
	+footer()

