extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sAdvantageBlock/_sAdvantageBlock.pug
include ../blocks/sFeedbackForm/_sFeedbackForm.pug
include ../blocks/sAppeal/_sAppeal.pug
include ../blocks/sRequisites/_sRequisites.pug
include ../blocks/sGal/_sGal.pug
include ../blocks/sAccordeon/_sAccordeon.pug
//- include ../blocks/sAdvantages/_sAdvantages.pug
include ../blocks/sDocs/_sDocs.pug
//- include ../blocks/sQ/_sQ.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= '07-typography.jpg'

block title
	- let  title= 'Типовая страница'
	title= title
block pagecontent 
	//- +mob-mnu()
	//- +header()
	//- 	+topLine()
	//- 	+top-nav()
	//- +headerBlock()
	+mob-mnu()
	+header()
	+page-body06('btns','Типовая страница', title)
		+sContent()
			+e.map
				h4 Расположение на карте
				+e.map-widget#map
			+sAppeal()
			+sRequisites()
			h4 Маркированный список
			ul
				li прочность металла&nbsp;&mdash; устойчив к&nbsp;механическим повреждениям;
				li большой спектр использования&nbsp;&mdash; универсальность;
				li долговечность (30&ndash;50 лет эксплуатации);
				li не&nbsp;портятся под влиянием ультрафиолета;
				li прекрасно переносят высокие и&nbsp;низкие температуры.
			h4 Нумерованный список
			ol
				li прочность металла&nbsp;&mdash; устойчив к&nbsp;механическим повреждениям;
				li большой спектр использования&nbsp;&mdash; универсальность;
				li долговечность (30&ndash;50 лет эксплуатации);
				li не&nbsp;портятся под влиянием ультрафиолета;
				li прекрасно переносят высокие и&nbsp;низкие температуры.
			+sDocs(`Файлы`)
			+sAdvantageBlock()
			+sFeedbackForm()
			+sGal
			+sAccordeon
	//- +sContact()
	+footer()

