extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sAdvantageBlock/_sAdvantageBlock.pug
include ../blocks/sFeedbackForm/_sFeedbackForm.pug
//- include ../blocks/sCategories/_sCategories.pug
//- include ../blocks/sCatalog/_sCatalog.pug
//- include ../blocks/sAdvantages/_sAdvantages.pug
//- include ../blocks/sQ/_sQ.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= '06-contacts.jpg'

block title
	- let  title= 'Типовая страница'
	title= title
block pagecontent 
	//- +mob-mnu()
	//- +header()
	//- 	+topLine()
	//- 	+top-nav()
	//- +headerBlock()
	+mob-mnu()
	+header()
	+page-body06('btns','Типовая страница', title)
		+sContent()
		+contacts-page
		+sAdvantageBlock()
		+sFeedbackForm()
	//- +sContact()
	+footer()

