extends layout/main.pug


include ../blocks/sReadMore/_sReadMore.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sAbout/_sAbout.pug
include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/sOurServices/_sOurServices.pug
include ../blocks/sHowWeWork/_sHowWeWork.pug
include ../blocks/sOurPartners/_sOurPartners.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= 'main.jpg'

block title
	- let  title= 'Главная'
	title= title
block pagecontent 
	+mob-mnu()
	+header()
		//- +topLine()
		//- +top-nav()
	+headerBlock()
	+sCatalog()
	+sOurServices()
	+sAbout()
	+sHowWeWork()
	+sOurPartners()
	+sContact()
	+sReadMore-index()
	//- +sForm(`Не&nbsp;знаете как подобрать запчасть?`)
	//- +sAdvantages()
	//- +sQ()
	//- +sContact()
	+footer()

