extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sCategories/_sCategories.pug
include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/sAdvantages/_sAdvantages.pug
include ../blocks/sQ/_sQ.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= 'main.jpg'

block title
	- let  title= 'Главная'
	title= title
block pagecontent 
	+mob-mnu()
	+header()
		//- +topLine()
		//- +top-nav()
	//- +headerBlock()
	+sCategories()
	+sForm(`Не&nbsp;знаете как подобрать запчасть?`)
	+sCatalog()
	+sAdvantages()
	+sQ()
	//- +sContact()
	+footer()

