mixin sQ(data)
	// start sQ
	+b.SECTION.sQ.section#sQ&attributes(attributes)
		.container
			+e.wrapper
				h2 У&nbsp;вас есть вопросы?
				+e.subtitle Наш эксперт профессионально ответит на&nbsp;все Ваши вопросы
				+form-wrap()
					.row
						.col-12.col-md-4
							+input(`Ваше имя`, 'text')
						.col-12.col-md-4
							+input(`Ваш телефон`, 'tel')
						.col-12.col-md-4
							+e.BUTTON.btn.btn.btn-primary Отправить заявку
					+agreement
					+tel-n-social(`tel:+78007008572`, `8 (800) 700-85-72`)
	// end sQ