// start .sContent
.sContent {
	--sPT: #{rem(40)};
	--sPB: #{rem(60)};

	// --sTPB: ;
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-bottom: rem(20);
	}
	h1 {
		font-size: rem(45);
		line-height: calc(55 / 45);
	}
	h2 {
		font-size: rem(35);
		line-height: calc(43 / 35);
	}
	h3 {
		font-size: rem(30);
		line-height: calc(37 / 30);
	}
	h4 {
		font-size: rem(25);
		line-height: calc(30 / 25);
	}
	h5 {
		font-size: rem(20);
		line-height: calc(24 / 20);
	}
	h6 {
		font-size: rem(16);
		line-height: calc(20 / 16);
	}

	p {
		margin-bottom: rem(24);
		& + h1 {
			margin-top: rem(40);
		}
		& + h2 {
			margin-top: rem(40);
		}
		& + h3 {
			margin-top: rem(40);
		}
		& + h4 {
			margin-top: rem(40);
		}
		& + h5 {
			margin-top: rem(40);
		}
		& + h6 {
			margin-top: rem(40);
		}
	}
	picture {
		margin-bottom: rem(40);
		@include block(540, 246);
		@include media-breakpoint-up(md) {
			--ratio: 330/720;
		}
		@include media-breakpoint-up(lg) {
			--ratio: 320/704;
		}
		@include media-breakpoint-up(xl) {
			--ratio: 320/970;
		}
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
		}
	}
	a {
		text-decoration: underline;
		&:hover {
			@include media-breakpoint-up(lg) {
				text-decoration: none;
			}
		}
	}
	&__map {
		padding: rem(30) 0;
		h4 {
			margin-bottom: rem(40);
		}
		&-widget {
			height: 178px;
			@include media-breakpoint-up(md) {
				height: 237px;
			}
			
			@include media-breakpoint-up(xl) {
				height: 320px;
			}
		}
	}
	.sAppeal {
		margin: rem(30) 0;
	}
	.sRequisites {
		padding: rem(30) 0;
	}
	.sAdvantageBlock {
		padding: rem(30) 0;
	}
	.sFeedbackForm {
		margin: rem(30) 0;
	}

	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-up(xs) {
	}

	//
	@include media-breakpoint-between(md, xl) {
	}

	//
	@include media-breakpoint-only(xs) {
	}
	@include media-breakpoint-only(sm) {
	}
	@include media-breakpoint-only(md) {
	}
	@include media-breakpoint-only(lg) {
	}
	@include media-breakpoint-only(xl) {
	}

	//
	@include media-breakpoint-down(xl) {
	}
	@include media-breakpoint-down(lg) {
	}
	@include media-breakpoint-down(md) {
	}
	@include media-breakpoint-down(sm) {
	}
	@include media-breakpoint-down(xs) {
	}
} // end.sContent
