mixin sAppeal(data)
	// start sAppeal
	+b.sAppeal&attributes(attributes)
		.row
			.col-auto
				+e.logo
					img(src="img/svg/logo-appeal.svg", alt="")
					//- +icon('logo-icon')
			.col
				+e.title Наша команда готова решить любые Ваши задачи связанные с&nbsp;поставкой самых востребованных позиций металлопроката.
				+e.respect С&nbsp;уважением, команда ООО &laquo;СтальСклад&raquo;
	// end sAppeal