// start .sDelivery
.sDelivery {
		// --sPT: ;
		// --sPB: ;
		// --sTPB: ;
	.row{
			align-items: center;
			justify-content: space-between;
			flex-direction: column;
			@include media-breakpoint-up(md) {
				--bs-gutter-x: #{rem(40)};
				flex-wrap: nowrap;
			}
			@include media-breakpoint-up(md) {
				flex-direction: row;
			}
			@include media-breakpoint-down(md) {
				--bs-gutter-y: #{rem(60)};
			}
			
	}
	h2{
		font-weight:700;
		margin-bottom: rem(24.5);
	}
	.section-title{
		&__subtitle{
			text-align: center;
			font-weight: 500;
			color: $secondary;
			font-size: rem(18);
			margin-bottom: rem(5);
		}
	}
	&__col{
		text-align: center;
		@include media-breakpoint-between(md,xl) {
			max-width: 20%;
			flex: 0 0 20%;
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sDelivery