mixin sCatalog(data)
	// start sCatalog
	+b.SECTION.sCatalog.section#sCatalog&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Популярные товары	
			.row
				+card-item('1')
				+card-item('2')
				+card-item('3','Двигатель 740.11 (740.11- 1000400)')
				+card-item('1')
				+card-item('3','Двигатель 740.11 (740.11- 1000400)')
				+card-item('1')
				+card-item('1')
				+card-item('3','Двигатель 740.11 (740.11- 1000400)')
	// end sCatalog

mixin sCatalog2(data)
	// start sCatalog
	+b.sCatalog2.section#sCatalog2&attributes(attributes)
		.container
			+form-wrap
				+CheckButtons()
			.row
				+card-item2('2','col-md-4 col-6')
				+card-item2('3','col-md-4 col-6','Двигатель 740.11 (740.11- 1000400)')
				+card-item2('1','col-md-4 col-6')
				+card-item2('1','col-md-4 col-6')
				+card-item2('2','col-md-4 col-6')
				+card-item2('3','col-md-4 col-6','Двигатель 740.11 (740.11- 1000400)')
				+card-item2('3','col-md-4 col-6','Двигатель 740.11 (740.11- 1000400)')
				+card-item2('1','col-md-4 col-6')
				+card-item2('2','col-md-4 col-6')
				+card-item2('1','col-md-4 col-6')
				+card-item2('2','col-md-4 col-6')
				+card-item2('3','col-md-4 col-6','Двигатель 740.11 (740.11- 1000400)')
				+card-item2('3','col-md-4 col-6','Двигатель 740.11 (740.11- 1000400)')
				+card-item2('1','col-md-4 col-6')
				+card-item2('2','col-md-4 col-6')
				.col-12
					+e.btn.btn-light.animation-rotate
						+icon('refresh')
						span Показать еще
				
	// end sCatalog2