// start .sRequisitesTable
.sRequisites {
	// --sPT: ;
	// --sPB: ;
	// --sTPB: ;
	
	h4 {
		margin-bottom: 0;
	}
	&__head {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: rem(30);
		.title {
			font-weight: 700;
			font-size: rem(24);
		}
		.pdf-btns {
			color: $body-color;
			display: flex;
			align-items: center;
			&:hover {
				color: $primary;
			}
			img {
				width: rem(20);
				height: rem(20);
			}
			span {
				font-size: rem(14);
				font-weight: 500;
				padding-left: rem(7);
			}
		}
	}
	&__table {
		font-size: rem(14);
		@include media-breakpoint-up(sm) {
			font-size: 14px;
		}
		table {
			width: 100%;
			tr {
				td {
					vertical-align: top;
					
					&:first-child {
						width: 45%;
						padding-top: rem(10);
						padding-bottom: rem(9);
						border-bottom: 1px dashed $light2;
					}
					&:nth-child(2) {
						width: 55%;
						padding-top: rem(10);
						padding-bottom: rem(9);
						border-bottom: 1px dashed $light2;
					}
				}
				&:last-child {
					td {
						&:first-child {
							padding-bottom: 0;
							border: none;
						}
						&:nth-child(2) {
							padding-bottom: 0;
							border: none;
						}
					}
				}
			}
		}
	}
	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sRequisitesTable
