
$h: 2px;
.toggle-contact-mobile,
.toggle-menu-mobile {
	height: 40px;
	width: 40px;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	&.active{
		// pointer-events: none;
	}
	.icon{
		font-size: 16px;
	}
}
.toggle-menu-mobile {
	display: block;
	background-color: $light;
	border-color: $light;
	// height: $h* 12;
	position: relative; 
	font-size: 20px;
	// width: 1em;
	cursor: pointer; 

	span:after,
	span:before {
		content: "";
		position: absolute;
		left: 0;
	}

	span {
		@include a-cent(y);
		left: 10px;
	}

	span:before {


		top: $h * 3;
	}

	span:after {
		bottom: $h * 3;
	}

	span { 
		display: block;
	}

	span,
	span:after,
	span:before {
		// width: 32px;
		width: 1em;
		height: $h;
		background-color: currentColor;
		transition: all 0.3s;
		backface-visibility: hidden;
		border-radius: 6px;
		transform-origin: 50% 50%;
	}

	// &.on {
	// 	// opacity: 0;
	// }

	&.on  {
		// pointer-events: none;
	}
	&.on span {
		background-color: transparent;
	}

	&.on span:after,
	&.on span:before {

		top: 0;
		bottom: 0;
		
	}

	&.on span:before {
		transform: rotate3d(0,0,1, 45deg);
	}

	&.on span:after {
		transform: rotate3d(0,0,1, -45deg);
	}
}

.menu-mobile {
	position: fixed !important;
	z-index: 999; 
	height: calc(var(--vh, 1vh) * 100);
	width: 420px;
	top: 0;
	left: 0;
	// right: 0;
	@include media-breakpoint-up(sm) {

		padding-top: rem(90);
	}
	padding-top: rem(75);
	background-color: #fff;
	&:not(.active){
		transform: translate3d(-110%, 0,0);
		--opacity: 0;

	}
	@include mt(.3s);
	will-change: transform;

	&__inner {
		// padding: rem(20) 0;
		padding-bottom: rem(40);
		overflow-x: hidden;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		height: 100%;
		@include mt(.1s);
		transition-delay: .2s;
		opacity: var(--opacity);
	}

	&.active { 
		.toggle-menu-mobile {
			opacity: 1;
		}
	}

	.toggle-menu-mobile {
		// position: relative;
		cursor: pointer;
		margin-left: -15%;
		position: absolute;
		opacity: 0;
		left: 0;
		right: auto;
		color: #FFF;
		top: 10px;
		z-index: 9999;
		background-color: transparent;

		span,
		span:after,
		span:before {
			background-color: #FFF;
		}

		&.on {
			opacity: 1;

			span {
				background-color: transparent;
			}
		}
	}

	ul {
		position: relative;
	}

	li {
		display: block;
		margin: 0;
		// border-top: 1px solid rgba(255, 255, 255, .13);

		a {
			// font-size: 16px;

			// padding: 10px;
			display: block;

		}
	}
	a.strong{
		font-weight: 600;
	}
	a.strong,
	a{
		font-size: rem(16);
	}
	font-size: rem(16);
	// font-size: 20px;
	.header__link-email{
		display: inline-block;
		margin-top: 20px;
	}
	.header__link-email,
	.tel-n-social{
		margin-bottom: 20px;
	}
	.header{
		position: relative !important;
		border-top: 1px solid #E5E8EC;

		padding-top: 60px;
		padding-left: 15px;
		padding-right: 15px;
		&::after{
			border: none;
		}
		&__addr{
			margin-bottom: 20px;
		}
		&__time{
			color: #778089;
		}
	}

	ul{
		padding-top: rem(15);
		padding-bottom: rem(30);
	}
	.search-block{
		border-bottom: 1px solid #E5E8EC;
		form{
			flex-direction: row-reverse;
		}
		.icon{
			font-size: 18px;
		}
		input{
			padding-left: 15px;
			flex-grow: 1;
			width: 100%;
			padding-bottom: 1.2rem;
			padding-top: 1.2rem;
		}
	}
	.city-link{
		border: none;
		background: none;
		border-bottom: 1px solid #E5E8EC;
		border-radius: 0;
		width: 100%;
		text-align: left;
		padding-top: rem(20);
		padding-bottom: rem(20);
		box-shadow: none !important;
		.icon{
			font-size: rem(20);
		}
	}
}