.menu{
	@include media-breakpoint-up(lg) {

		text-align: center;
		display: flex;
		@include roww(20px);
	}
	list-style: none;
	@include media-breakpoint-up(xl) {
		--bs-gutter-x: #{rem(40)};
	}
	position: relative;
	margin-bottom: 0;
	// max-width: 100%;
	flex-wrap: wrap;
	li{
		// margin-left: 0;
		// margin-right: 0;
		padding: 0;
	}
	a{
		display: block;
		@include media-breakpoint-up(lg){

			padding: rem(30) calc(var(--bs-gutter-x) / 2);
		}
		padding: rem(15) 15px;
		font-weight: 600;
		color: $body-color;
		&.active,
		&:hover{
			color: $primary;
		}
	}
}