mixin mob-mnu()
	-
		//- let path = require('path');
		//- let fs = require('fs');
		//- var requestURL = 'top-nav.json';
		//- var request = new XMLHttpRequest();
		//- request.open('GET', requestURL);
		//- request.responseType = 'json';
		//- let dataJson = JSON.parse(json);
	//- h1= dataJson['lala'] 
	+b.menu-mobile--js.d-lg-none 
		+e.inner
			+search
			//- +b.city-link(href="#modal-search-list").link-modal-js 
			//- 	+icon("compass")
			//- 	| Набережные Челны
			+mnu()
			+b.header
				+e.tel-block.col-lg-auto
					+tel-n-social('tel:+79308067121','+7 (930) 806-71-21')
				div
					a.text-primary.link-modal-js(href="#modal-request").fw-600 Заказать звонок
				+e.link-email(href="mailto:skladstali@mail.ru") skladstali@mail.ru
				+e.addr г. Нижний Новгород, <br> ул. Вторчермета д.&nbsp;1, оф.&nbsp;113
				
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		.container
			.row
				.col-auto.d-lg-none
					+b.toggle-menu-mobile--js
						span
				.col.d-none.d-lg-block
					+mnu()
					
	// end top-nav