mixin header()
	// start header
	+b.HEADER.header#header&attributes(attributes)
		.container
			.row
				.col.d-xl-none
					+e.A.logo(href="/")
						img(src="img/svg/logo-head.svg" alt="")
				.col.d-none.d-xl-block
					+e.adress г. Нижний Новгород, ул. Вторчермета д.&nbsp;1, оф.&nbsp;113
				+e.col.col-lg-auto.order-lg-0.order-last
					+e.contact-dropdown--js.d-lg-block
						.container
							.row
								.col-auto.d-none.d-xxl-block
									+e.link-email(href="mailto:skladstali@mail.ru") skladstali@mail.ru
								.col
									+b.soc
										+item-sos()
											img(src="img/svg/telegram-2.svg" alt="") 
											span Telegram
										+item-sos()
											img(src="img/svg/whatsapp-2.svg" alt="") 
											span WhatsApp
										+item-sos()
											img(src="img/svg/viber-2.svg" alt="") 
											span Viber
								+e.tel-block.col-lg-auto.order-first.order-lg-4
									+e.link-tel(href="tel:+79308067121") +7 (930) 806-71-21
								.col-lg-auto.d-none.d-lg-block.order-lg-5
									+e.btn.btn.btn-primary.link-modal-js(href="#modal-request") Заказать звонок

				.col-12.d-none.d-lg-block

				.col-lg-auto.col.d-none.d-xl-block
					+e.A.logo(href="/")
						img(src="img/svg/logo-head.svg" alt="") 
				.col.d-none.d-lg-block
					+mnu
				.col-auto.d-none.d-lg-block
					+search
				.col-auto.d-lg-none
					+b.toggle-contact-mobile--js.btn.btn-primary
						+icon("call")
				.col-auto.d-lg-none
					+b.toggle-menu-mobile--js.btn
						span
	// end header