// start .sPrint
.sPrint {
	--sPT: #{rem(40)};
	.shop-content {
		max-width: 595px;
		height: 842px;
		position: relative;
		padding-left: 0;
		padding-right: 0;
	}
	h4 {
		font-weight: bold;
		color: #323a42;
		padding-bottom: 15px;
	}
	&__string {
		padding-top: 25px;
		padding-bottom: 25px;
		align-items: center;
		display: flex;
		border-bottom: 1px dashed #e5e8ec;
	}
	.print-body {
		padding-left: 44px;
		padding-right: 44px;
		padding-top: 40px;
	}
	picture {
		width: 70px;
		height: 70px;
		border-radius: 5px;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__caption {
		padding-left: 20px;
		p {
			margin-bottom: 0;
			color: #323a42;
			font-size: 16px;
			line-height: 20px;
			&:nth-child(1) {
				font-weight: 600;
				margin-bottom: 5px;
			}
		}
	}
	.h4 {
		padding-bottom: 0;
		padding-top: 40px;
		font-weight: 600;
		color: #323a42;
	}
	&__page {
		position: absolute;
		bottom: 0;
		right: 0;
		color: #888c94;
		font-size: 16px;
		line-height: 125%;
		right: 40px;
		bottom: 40px;
	}
	.head-row {
		padding-bottom: 18px;
		padding-top: 18px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid #e5e6e9;
		padding-left: 44px;
		padding-right: 44px;
		img {
			max-width: 200px;
		}
		p {
			max-width: 116px;
			margin-bottom: 0;
			color: #323a42;
			font-size: 16px;
			line-height: 125%;
			padding: 0;
		}
	}
	// --sPB: 0;
	// --sTPB: ;
} // end.sPrint
@media print {
	body {
		visibility: hidden;
	}
	.shop-content {
		visibility: visible;
	}
	.btn-quanity-input,
	.product-remove {
		visibility: hidden;
	}
	.sPrint {
		--sPT: #{rem(40)};
		.shop-content {
			max-width: 595px;
			height: 842px;
			position: relative;
			padding-left: 0;
			padding-right: 0;
		}
		h4 {
			font-weight: bold;
			color: #323a42;
			padding-bottom: 15px;
		}
		&__string {
			padding-top: 25px;
			padding-bottom: 25px;
			align-items: center;
			display: flex;
			border-bottom: 1px dashed #e5e8ec;
		}
		.print-body {
			padding-left: 44px;
			padding-right: 44px;
			padding-top: 40px;
		}
		picture {
			width: 70px;
			height: 70px;
			border-radius: 5px;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		&__caption {
			padding-left: 20px;
			p {
				margin-bottom: 0;
				color: #323a42;
				font-size: 16px;
				line-height: 20px;
				&:nth-child(1) {
					font-weight: 600;
					margin-bottom: 5px;
				}
			}
		}
		.h4 {
			padding-bottom: 0;
			padding-top: 40px;
			font-weight: 600;
			color: #323a42;
		}
		&__page {
			position: absolute;
			bottom: 0;
			right: 0;
			color: #888c94;
			font-size: 16px;
			line-height: 125%;
			right: 40px;
			bottom: 40px;
		}
		.head-row {
			padding-bottom: 18px;
			padding-top: 18px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			border-bottom: 1px solid #e5e6e9;
			padding-left: 44px;
			padding-right: 44px;
			img {
				max-width: 200px;
			}
			p {
				max-width: 116px;
				margin-bottom: 0;
				color: #323a42;
				font-size: 16px;
				line-height: 125%;
				padding: 0;
			}
		}
		// --sPB: 0;
		// --sTPB: ;
	}
}
