//- WP menu
mixin mnu()
	-
		var nav= { 
			"Главная":"#",
			"Каталог товаров":"#",
			"Доставка и оплата":"#",
			"О компании":"#" ,
			"Контакты":"#",
			}
	ul.menu(itemscope itemtype="http://schema.org/SiteNavigationElement")
		each linkPatch, linkName in nav
			li.menu-item(itemprop="item" ): a(href= linkPatch itemprop="url")= linkName

//- menu