//- WP menu
mixin mnu()
	-
		var nav= { 
			"Главная":"#",
			"Каталог":"#",
			"Прайс-лист":"#",
			"Для снабженцев":"#" ,
			"О компании":"#",
			"Контакты":"#",
			}
	ul.menu(itemscope itemtype="http://schema.org/SiteNavigationElement")
		each linkPatch, linkName in nav
			li.menu-item(itemprop="item" ): a(href= linkPatch itemprop="url")= linkName

//- menu