// start .sAccordeon
.sAccordeon {
		// --sPT: ;
		// --sPB: ;
		--sTPB: #{rem(20)};

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sAccordeon

.accordion-item{
	border-top: 1px solid #E5E8EC;
	position: relative; 
	padding-bottom: rem(10);
	&::before{
		content: '';
		width: rem(20px);
		height: rem(12px);
		background-size: contain;
		background-image: var(--chevron-up);
		background-repeat: no-repeat;
		position: absolute;
		right: 0;
		top: rem(35);
		@include mt;
	}
	&:not(.active){
		&::before{
			// margin-top: rem(-2);
			transform: rotateX(180deg);
		}
	}
	&:last-child{
		border-bottom: 1px solid #E5E8EC; 
	}
	&__head{
		font-weight: 600;
		@include mt;
		padding-right: rem(40);
		padding-top: rem(28);
		padding-bottom: rem(18);
		cursor: pointer;
	}

	&:not(.active) &__body{
		display: none;
	}
}